#main-window[titlepreface*="​"] #titlebar {
  height: 2em !important;
}

#main-window[titlepreface*="​"] #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse !important;
}
